# Contingency Tables and Tests for Significance

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats
import seaborn as sns

In [2]:
#importing the uncleaned data
data_uncleaned=pd.read_csv('Computational Data Without Identifiers.csv')
#importing the cleaned data
data=pd.read_csv(r'C:\Users\Grant\Desktop\Cleaned PERL Research data.csv', encoding='latin1')
Rows = 1246
Inst_List_data=pd.read_csv('List of Institutions.csv')

In [66]:
def Contingency_Table(Column1, Column2,Title1,Title2):
    #Creates an empty list to be appended
    list1 = []
    #Loop appends the list to be used in the table
    for row, row2 in zip(data.values[:,Column1], data.values[:,Column2]):
        if row == "Checked" and row2 =="Checked" or row == "Unchecked" and row2 == "Checked" or row == "Checked" and row2 == "Unchecked" or row == "Unchecked" and row2 == "Unchecked":  
            list1.append(row)
        if row == "Checked" and row2 =="Yes" or row == "Unchecked" and row2 == "Yes" or row == "Checked" and row2 == "No" or row == "Unchecked" and row2 == "No":  
            list1.append(row)
    #Creates a variable equal to the size of the appended list to be used in the table
    len1 = len(list1)
    #Creates an empty list to be appended
    list2 = []
    #Loop appends the list to be used in the table
    for row, row2 in zip(data.values[:,Column2], data.values[:,Column1]):
        if row == "Checked" and row2 =="Checked" or row == "Unchecked" and row2 == "Checked" or row == "Checked" and row2 == "Unchecked" or row == "Unchecked" and row2 == "Unchecked":  
            list2.append(row)
        if row == "Yes" and row2 =="Checked" or row == "No" and row2 == "Checked" or row == "Yes" and row2 == "Unchecked" or row == "No" and row2 == "Unchecked":  
            list2.append(row)
    #Creates a variable equal to the size of the appended list to be used in the table
    len2 = len(list2)
    #Creates and manipulates a data frame to make the contingency table
    df = pd.DataFrame(np.array(list1).reshape(len1,1))
    df.columns=[Title1]
    df2 = pd.DataFrame(np.array(list2).reshape(len2,1))
    df2.columns=[Title2]
    #Allows the contingency table to be referrenced later on
    global Contingency_Table_im
    #Creates the contingency table
    Contingency_Table_im = pd.crosstab(index=df[Title1], columns=df2[Title2], margins=True)

In [50]:
def Chi_Squared(n11,n12,n21,n22):
    #Creates the expected values for the Chi Squared test
    n11e = ((n11+n21)*(n11+n12))/(n11+n12+n21+n22)
    n12e = ((n11+n12)*(n12+n22))/(n11+n12+n21+n22)
    n21e = ((n11+n21)*(n21+n22))/(n11+n12+n21+n22)
    n22e = ((n12+n22)*(n21+n22))/(n11+n12+n21+n22)
    #Calculates the test statistic
    Test_Stat = (n11-n11e)**2/n11e+(n12-n12e)**2/n12e+(n21-n21e)**2/n21e+(n22-n22e)**2/n22e
    #Corresponding to an alpha level of .05 with one degree of freedom
    if Test_Stat >= 3.841:
        print("There is a significant difference between the distributions")
    else:
        print("There is no significant difference between the distributions")

## Question 2: What Programs in Computation are Offered?
### A Degree?

In [48]:
Contingency_Table(8,2,"Intro","Degree")
Contingency_Table_im

Degree     Checked  Unchecked  All
Intro
Checked         61        346  407
Unchecked       19        262  281
All             80        608  688

In [51]:
Chi_Squared(61,346,19,262)

There is a significant difference between the distributions

### A Minor?

In [53]:
Contingency_Table(8,3,"Intro","Minor")
Contingency_Table_im

Minor      Checked  Unchecked  All
Intro
Checked         22        385  407
Unchecked        5        276  281
All             27        661  688

In [54]:
Chi_Squared(22,385,5,276)

There is a significant difference between the distributions

### A Certificate?

In [57]:
Contingency_Table(8,4,"Intro","Certificate")
Contingency_Table_im

Certificate  Checked  Unchecked  All
Intro
Checked           10        397  407
Unchecked          5        276  281
All               15        673  688

In [58]:
Chi_Squared(10,397,5,276)

There is no significant difference between the distributions

### Some Other Program?

In [60]:
Contingency_Table(8,5,"Intro","Other")
Contingency_Table_im

Other      Checked  Unchecked  All
Intro
Checked         51        356  407
Unchecked       27        254  281
All             78        610  688

In [61]:
Chi_Squared(51,356,27,254)

There is no significant difference between the distributions

## How is Computation Taught?
### Through Interactive Activites?

In [68]:
Contingency_Table(8,33,"Intro","Activities")
Contingency_Table_im

Activities   No  Yes  All
Intro
Checked     267   97  364
Unchecked   197   35  232
All         464  132  596

In [69]:
Chi_Squared(267,97,197,35)

There is a significant difference between the distributions

### Answering Exam Questions?

In [70]:
Contingency_Table(8,34,"Intro","Exams")
Contingency_Table_im

Exams       No  Yes  All
Intro
Checked    267   95  362
Unchecked  195   37  232
All        462  132  594

In [71]:
Chi_Squared(267,95,195,37)

There is a significant difference between the distributions

### Creating a Simulation Outside of Class?

In [72]:
Contingency_Table(8,37,"Intro","Simulation")
Contingency_Table_im

Simulation   No  Yes  All
Intro
Checked     131  233  364
Unchecked   115  121  236
All         246  354  600

In [73]:
Chi_Squared(131,233,115,121)

There is a significant difference between the distributions

## Do Students Have Access to University Owned Workstations?

In [74]:
Contingency_Table(8,44,"Intro","Student Workstations")
Contingency_Table_im

Student Workstations  No  Yes  All
Intro
Checked               29  360  389
Unchecked             29  232  261
All                   58  592  650

In [75]:
Chi_Squared(29,360,29,232)

There is no significant difference between the distributions

## How is the Curriculumn Developed?
### Faculty get Release Time

In [76]:
Contingency_Table(8,65,"Intro","Faculty Release Time")
Contingency_Table_im

Faculty Release Time  Checked  Unchecked  All
Intro
Checked                    37        329  366
Unchecked                  17        227  244
All                        54        556  610

In [77]:
Chi_Squared(37,329,17,227)

There is no significant difference between the distributions

### TAs are Allocated to Teach Computation

In [78]:
Contingency_Table(8,67,"Intro","TAs Teach Computation")
Contingency_Table_im

TAs Teach Computation  Checked  Unchecked  All
Intro
Checked                     45        319  364
Unchecked                   17        227  244
All                         62        546  608

In [79]:
Chi_Squared(45,319,17,227)

There is a significant difference between the distributions

### Faculty is Discouraged from Developing Computation

In [80]:
Contingency_Table(8,68,"Intro","Faculty is Discouraged")
Contingency_Table_im

Faculty is Discouraged  Checked  Unchecked  All
Intro
Checked                       4        360  364
Unchecked                     2        242  244
All                           6        602  608

In [81]:
Chi_Squared(4,360,2,242)

There is no significant difference between the distributions

### Department is Apathetic

In [82]:
Contingency_Table(8,69,"Intro","Deparment is Apathetic")
Contingency_Table_im

Deparment is Apathetic  Checked  Unchecked  All
Intro
Checked                      76        288  364
Unchecked                    69        175  244
All                         145        463  608

In [83]:
Chi_Squared(76,288,69,175)

There is a significant difference between the distributions

## What Resources are Given to the Faculty to Teach Computation
### Faculty Have Lab Access

In [84]:
Contingency_Table(8,70,"Intro","Faculty Lab Access")
Contingency_Table_im

Faculty Lab Access  Checked  Unchecked  All
Intro
Checked                 116        244  360
Unchecked                68        175  243
All                     184        419  603

In [85]:
Chi_Squared(116,224,68,175)

There is no significant difference between the distributions

### Faculty Have Sepcialized Software

In [86]:
Contingency_Table(8,71,"Intro","Faculty Have Specialized Software")
Contingency_Table_im

Faculty Have Specialized Software  Checked  Unchecked  All
Intro
Checked                                268         92  360
Unchecked                              160         83  243
All                                    428        175  603

In [87]:
Chi_Squared(268,92,160,83)

There is a significant difference between the distributions

### Faculty Have Specialized Hardware

In [89]:
Contingency_Table(8,72,"Intro","Faculty Have Specialized Hardware")
Contingency_Table_im

Faculty Have Specialized Hardware  Checked  Unchecked  All
Intro
Checked                                119        241  360
Unchecked                               58        185  243
All                                    177        426  603

In [90]:
Chi_Squared(119,241,58,185)

There is a significant difference between the distributions

### Faculty Have Additional Research Funds

In [91]:
Contingency_Table(8,73,"Intro","Faculty Have Additional Research Funds")
Contingency_Table_im

Faculty Have Additional Research Funds  Checked  Unchecked  All
Intro
Checked                                      42        318  360
Unchecked                                    15        228  243
All                                          57        546  603

In [92]:
Chi_Squared(42,318,15,228)

There is a significant difference between the distributions

### Faculty Have Training on Computational Physics

In [93]:
Contingency_Table(8,75,"Intro","Faculty Have Training on Computation")
Contingency_Table_im

Faculty Have Training on Computation  Checked  Unchecked  All
Intro
Checked                                    30        330  360
Unchecked                                  12        231  243
All                                        42        561  603

In [94]:
Chi_Squared(30,330,12,231)

There is no significant difference between the distributions

### Faculty Are Given Stipends

In [95]:
Contingency_Table(8,77,"Intro","Faculty Have Stipends")
Contingency_Table_im

Faculty Have Stipends  Checked  Unchecked  All
Intro
Checked                     21        339  360
Unchecked                    8        235  243
All                         29        574  603

In [96]:
Chi_Squared(21,339,8,235)

There is no significant difference between the distributions

## What Resources are Given to the Students to Learn Computation
### Lab Access

In [97]:
Contingency_Table(8,82,"Intro","Student Lab Access")
Contingency_Table_im

Student Lab Access   No  Yes  All
Intro
Checked              60  310  370
Unchecked            55  190  245
All                 115  500  615

In [98]:
Chi_Squared(60,310,55,190)

There is no significant difference between the distributions

### Other

In [99]:
Contingency_Table(8,88,"Intro","Other Form of Support")
Contingency_Table_im

Other Form of Support   No  Yes  All
Intro
Checked                353   17  370
Unchecked              240    5  245
All                    593   22  615

In [100]:
Chi_Squared(353,17,240,5)

There is no significant difference between the distributions

## What is Your Motivation for Teaching Computation
### Personal Research Interest

In [101]:
Contingency_Table(8,91,"Intro","Faculty Ressearch Interest")
Contingency_Table_im

Faculty Ressearch Interest  Checked  Unchecked  All
Intro
Checked                         229        140  369
Unchecked                       171         76  247
All                             400        216  616

In [102]:
Chi_Squared(299,140,171,76)

There is no significant difference between the distributions

### Computation is the Future of Physics

In [103]:
Contingency_Table(8,93,"Intro","Computation is the Future")
Contingency_Table_im

Computation is the Future  Checked  Unchecked  All
Intro
Checked                        184        185  369
Unchecked                       95        152  247
All                            279        337  616

In [104]:
Chi_Squared(184,185,95,152)

There is a significant difference between the distributions

### Department Rewards

In [105]:
Contingency_Table(8,96,"Intro","Department Rewards")
Contingency_Table_im

Department Rewards  Checked  Unchecked  All
Intro
Checked                   5        364  369
Unchecked                 2        245  247
All                       7        609  616

In [106]:
Chi_Squared(5,364,2,245)

There is no significant difference between the distributions

### Computation is the Best Way to Learn Physics

In [107]:
Contingency_Table(8,97,"Intro","Best Way to Learn Physics")
Contingency_Table_im

Best Way to Learn Physics  Checked  Unchecked  All
Intro
Checked                         86        283  369
Unchecked                       35        212  247
All                            121        495  616

In [108]:
Chi_Squared(86,283,35,212)

There is a significant difference between the distributions